*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    background: black;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin: 3px;
}

.container textarea{
    background-color: black;
    border: 1px solid blue;
    height: 33.33%;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    color: white;
}

.container textarea:focus {
    outline: none;
    color:white;
}

